
//---------------------------------------------------------------Profile Container----------------------------------------------------------------------------------

.colorsProfile{
    background-color: rgb(255, 0, 98);
    color: rgb(82, 219, 253);

    height: 6em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
