
//---------------------------------------------------------------Register Container----------------------------------------------------------------------------------
.colorsRegister{
    background-image: url('../../img/Pant.jpg');
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 80.3vh;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------


//---------------------------------------------------------------Register Container----------------------------------------------------------------------------------
.buttonRegister{
    background-color: rgb(255, 32, 2);
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    height: 1.5vh;
    width: 5vw;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------

