
//---------------------------------------------------------------Register Container----------------------------------------------------------------------------------
.colorsRegister{
    background-image: url('../../img/Pant.jpg');
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 80.3vh;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------


//---------------------------------------------------------------Register Container----------------------------------------------------------------------------------
.buttonRegister{
    background-color: rgb(174, 0, 255);
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;

    

    cursor: pointer;

    height: 4vh;
    width: 5vw;

    margin-left: 45em;
    margin-top: 3em;
}
.buttonRegister:hover {
    font-weight: bold;
    cursor:pointer;

    background-color: rgb(121, 49, 154);
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
.upCardRegister{
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 3%;
}
