
//---------------------------------------------------------------Profile Container----------------------------------------------------------------------------------

.colorsProfile{
    background-image: url('../../img/Pant.jpg');
    background-size: cover;

    height: 80.3vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
