
//---------------------------------------------------------------Home Container----------------------------------------------------------------------------------

.colorsHome{
    background-image: url('../../img/lampara.jpg');
    background-size: cover;

    color: rgb(157, 255, 255);


    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------

.colorsDetail {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

   

}

// .colorsDetail>:nth-child(2n) {
//     margin-left: 1em;
// }

.colorsDetail>*{
    flex-basis: 20%;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------



//---------------------------------------------------------------Background Poster--------------------------------------------------------------------------------------------------
.filmPoster {

    height: 20em;
    width: 9em;

    // background-image: url(/frontvideoclub/src/img/filmFondo.gif);
    background-color: rgb(153, 153, 153);

    margin: .2em;

    border-radius: .5em;

    padding: .2em;

    display: flex;
    flex-direction: row;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-weight: bold;
}

.imgColors {
    margin: .2em;
    box-sizing: border-box;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------


//----------------------------------------------------------------------Title Poster-------------------------------------------------------------------------------------------
.filmHomeTitle{
    background-color: chocolate;

    position: absolute;
    top: 27em;
}