
//---------------------------------------------------------------Home Container----------------------------------------------------------------------------------

.colorsHome{
    background-image: url('../../img/fondo_2.jpg');
  
    color: rgb(255, 0, 0);

    height: 80.3vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
