
//---------------------------------------------------------------Home Container----------------------------------------------------------------------------------

.colorsHome{
    background-color: rgb(225, 0, 255);
    color: rgb(255, 0, 0);

    height: 80.3vh;;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
