
//---------------------------------------------------------------Header Container----------------------------------------------------------------------------------
.colorsHeader{
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);

    color: rgb(255, 0, 0);

    width: 100vw;
    height: 8em;

    padding-left: 7em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Pinkact{
    width: 10em;
    height: 10em;
}
.headerPaint {
    width: 3vw;
    height: 6em;

}

.linksDesign {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    margin-right: 3em;
    // margin-bottom: 1em;
}

.link:hover {
    font-weight: bold;
    cursor:pointer;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------

