
//---------------------------------------------------------------Home Container----------------------------------------------------------------------------------

.colorsMovieDetail{
    
    background-image: url('../../img/Pant.jpg');
    background-size: cover;

    height: 80.3vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
.Alquilar{
    background-color: red;
    
}
// .Alquilar:hover{
//     background-color: rgb(183, 62, 62);
    
// }

.designFilm{
    background-image: url('../../img/Pant.jpg');
    background-size: cover;

    height: 80.3vh;

    display: flex;
    align-items: center;

    color: white;

}

.title{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
  
}