
//---------------------------------------------------------------Home Container----------------------------------------------------------------------------------

.colorsMovieDetail{
    
    background-color: lightskyblue;

    color: rgb(255, 255, 255);


    height: 80.3vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
.Alquilar{
    background-color: red;
    
}
// .Alquilar:hover{
//     background-color: rgb(183, 62, 62);
    
// }