
//---------------------------------------------------------------Home Container----------------------------------------------------------------------------------

.colorsMovieDetail{
    
    background-image: url('../../img/fondo_2.jpg');
    background-size: cover;

    height: 80.3vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
.Alquilar{
    background-color: rgb(253, 115, 227);
    
}
.Alquilar:hover {
    font-weight: bold;
    cursor:pointer;

    background-color: rgb(204, 135, 191);
}

.designFilm{
    background-image: url('../../img/filmFondo.gif');
    background-size: cover;

    height: 80.3vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(255, 0, 0);

    

}

.title{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
  
}