
//---------------------------------------------------------------Register Container----------------------------------------------------------------------------------
.colorsRegister{
    background-color: rgb(10, 255, 2);
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 80.3vh;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------

