
//---------------------------------------------------------------Login Container----------------------------------------------------------------------------------
.colorsLogin{
    background-color: rgb(255, 188, 2);
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 80.3vh;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------

