
//---------------------------------------------------------------Footer Container----------------------------------------------------------------------------------

.colorsFooter{
    background-color: rgb(0, 0, 0);
    
    height: 6em;
    
    color: white;
    
    font-weight: bold;

    display: flex;
    justify-content:center;
    align-items: center;
}
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------
